<?xml version="1.0" encoding="UTF-8"?>
<web-app 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" 
	version="3.1"> <!-- xmlns : MarkUp 언어 이름 -->
	
	<!-- 0930 filter설정-->
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern><!-- '*' 반드시 들어감 -->
	</filter-mapping>
	
	<!-- Processes application requests -->
	<servlet>
		<servlet-name>appServlet</servlet-name><!-- 변경가능 -->
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/spring/appServlet/servlet-context.xml</param-value>
			<!-- servlet-context.xml ->spring 설정파일.DispatcherServlet이 servlet-context.xml 안의 내용을 읽고 읽은 대로 실행시킨다. -->
		</init-param>
		<load-on-startup>1</load-on-startup><!-- 서블릿을 가장 먼저 초기화 (번호가 낮을수록 초기화가 먼저 된다.)-->
	</servlet>
		
	<servlet-mapping>
		<servlet-name>appServlet</servlet-name><!-- <servlet>에서 수정하면 같이 변경해야함 -->
		<url-pattern>/</url-pattern>
		<!-- http://~/ 마지막 '/'뒤에 어떤 것이 붙어도 <param-value>의 내용이 실행된다. --> 
	</servlet-mapping>
</web-app>